<ng-container *ngIf="showproducts.length !=0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 ">
    <h3>Cart items</h3>
    <table class="table table-borderless mt-3">

      <thead class="thead-dark">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Brand</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of showproducts;">
          <td><img style="width: 120px;" src="{{item.images[0]}}" alt=""></td>
          <td>{{item.title}}</td>
          <td>{{item.category}}</td>
          <td>$ {{item.price}}</td>
          <td><button (click)="deleteitem(item)" class="btn btn-danger">Delete</button></td>
        </tr>



      </tbody>
    </table>

  </div>
  <!-- total-->
  <div  class="col-sm-3 ">
  <h1>Total Amount:</h1><br>
  <strong  style="font-size: 35px;color: green;">${{Totalamount}}</strong><br>
  <div class="btn-group mt-3" >
    <button type="button"routerLink="/order-page" class="btn btn-primary">Order Now</button>&nbsp;
    <button (click)="emptycart()" type="button" class="btn btn-secondary">Empty Cart</button>
    
  </div>
  </div>

  </div>
  </div>

</ng-container>
<!--empty cart-->

<ng-container *ngIf="showproducts.length ==0">
  <div class="card">
    <div class="center">

      <h4>Your cart is Empty</h4>
      <h6>Please Add Item </h6>
      <button routerLink="/" class="btn btn-dark">Shop Now</button>
    </div>

  </div>


</ng-container>