<!-- <nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"style="color:white;">E-commerce Website</a>
       <button routerLink="/" class="btn btn-warning text-light">BACK</button>
    </div>
</nav> -->

<!-- single product display-->
<div class="container">
    <div class="row product-detail">
        <div class="col-sm-3">
            <img class="product-img"src="{{productdata?.images[0]}}">
     <div>
        <button class="btn btn-primary">Buy Now</button>&nbsp;
        <button (click)="addtocart(productdata)" *ngIf="showadd" class="btn btn-success">Add to Cart</button>&nbsp;
        <button (click)="removeitem(productdata)" *ngIf="showremove" class="btn btn-info">Remove Item</button>
     </div>
     
        </div>
   

    <!-- right side-->
    <div class="col-sm-8">
        <div>
            <h1>{{productdata?.title}}</h1>
            <p style="color:green">Special Price</p>
            <h3>Price:${{productdata?.price}}</h3>
            <strong>Category:&nbsp;{{productdata?.category}}</strong><br>
            <strong>Description:</strong><br>
            <p>{{productdata?.description}}</p>
        <p style="color: green;">Discount:{{productdata?.discountPercentage}} %</p><br>
        <strong>Stocks:{{productdata?.stock}} Units left</strong><br>
        <button routerLink="/" class="btn btn-warning text-light mt-2">BACK</button>
        </div>
    </div>
</div>
</div>